{%- if title != blank or text != blank -%}
  <header class="heading">
    {%- if title != blank -%}
      <h2>{{ title }}</h2>
    {%- endif -%}
    {%- if text != blank -%}
      <p>{{ text }}</p>
    {%- endif -%}
  </header>
{%- endif -%}