<a href="" class="logo"></a>
{%- assign logo = settings.header_logo -%}

<a class="logo" href="{{ shop.secure_url }}">
  {%- if logo -%}
    {{ logo | image_tag }}
  {%- else -%}
    {{ shop.name }}
  {%- endif -%}
</a>