{%- assign logo = settings.logo -%}

<a class="logo" href="{{ shop.secure_url }}">
  {%- if logo -%}
    {%- assign logo_width = settings.logo_width -%}
    {%- assign logo_url = logo | asset_url | image_url: width: logo_width -%}
    {{ logo_url | image_tag: alt: shop.name }}
  {%- else -%}
    {{ shop.name }}
  {%- endif -%}
</a>