<ul class="nav-accessibility">
  <li>
    <a href="#main">{{ 'accessibility.skip_to_text' | t }}</a>
  </li>
  <li>
    <a href="#navigation">{{ 'accessibility.skip_to_navigation' | t }}</a>
  </li>
  <li>
    <a href="#footer">{{ 'accessibility.skip_to_footer' | t }}</a>
  </li>
</ul>