{% comment %}
  Renders menu navigation

  Accepts:
  - menu: {Object} Menu object

  Usage:
  {% render 'nav', menu: section.settings.menu %}
{% endcomment %}

<nav role="navigation" aria-label="{{ menu.title }}">
  <ul>
    {%- for link in menu.links -%}
      <li>
        <a href="{{ link.url }}" {% if link.current %}
          class="active"
          aria-current="page"
          {% endif %}>
          {{- link.title | escape -}}
        </a>
      </li>
    {%- endfor -%}
  </ul>
</nav>