<nav role="navigation">
  <ul>
    {%- for link in menu -%}
      <li>
        <a href="{{ link.url }}" {% if link.current %}
          class="active"
          aria-current="page"
          {% endif %}>
          {{- link.title | escape -}}
        </a>
      </li>
    {%- endfor -%}
  </ul>
</nav>