{%- assign p = product_item -%}
<article class="product">
  <div class="content">
    <p class="title">
      <a href="{{ p.url }}">{{ p.title | escape }}</a>
    </p>
    <p class="description">{{ p.description }}</p>
  </div>
  {%- if p.featured_media -%}
    <div class="media">
      {{ p.featured_media | image_url }}
    </div>
  {%- endif -%}
</article>