{%- liquid
  assign p = product_item
  assign media = p.featured_media 
  assign media_width = 300
-%}
<article class="product">
  <div class="content">
    <p class="title">
      <a href="{{ p.url }}">{{ p.title | escape }}</a>
    </p>
    <p class="description">{{ p.description | escape }}</p>
  </div>
  {%- if media -%}
    <div class="media">
      {%- if media.media_type == 'image' -%}
        {%- render 'image', img: media, width: media_width -%}
      {%- elsif media.media_type == 'video' -%}
        {%- render 'video', video: media, width: media_width -%}
      {%- endif -%}
    </div>
  {%- endif -%}
</article>