<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- render 'head-css' -%}
    {%- render 'head-seo' -%}
    {%- render 'head-favicons' -%}
    {%- render 'head-scripts' -%}

    {{ content_for_header }}
  </head>

  <body>
    {%- section 'header' -%}
    <main id="main" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
    {%- section 'footer' -%}
  </body>
</html>
