{% liquid
  assign id = section.id
  assign title = section.settings.title
  assign subtitle = section.settings.subtitle
  assign background = section.settings.background
%}

{% if title != blank or subtitle != blank %}
  <header class="heading">
    <h2>{{ title }}</h2>
    <p>{{ subtitle }}</p>
  </header>
{% endif %}

{% schema %}
  {
    "name": "t:sections.newsletter.name",
    "class": "block-newsletter",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.global.title"
      }, {
        "type": "richtext",
        "id": "subtitle",
        "label": "t:sections.global.subtitle"
      }, {
        "type": "checkbox",
        "id": "background",
        "default": false,
        "label": "t:sections.global.background"
      }
    ],
    "presets": [
      {
        "name": {
          "en": "Newsletter",
          "fr": "Newsletter"
        },
        "category": {
          "en": "Promotional",
          "fr": "Promotionnel"
        }
      }
    ]
  }
{% endschema %}