{% liquid 
  assign title = section.settings.title
  assign text = section.settings.text
%}

<div class="container">
  {%- if title != blank or text != blank -%}
    <header class="heading">
      {%- if title != blank -%}
        <h2>{{ title }}</h2>
      {%- endif -%}
      {%- if text != blank -%}
        <p>{{ text }}</p>
      {%- endif -%}
    </header>
  {%- endif -%}
  <div class="products">
    {% render 'product-item' with product as product_item %}
  </div>
</div>

{% schema %}
  {
    "name": "Produits sélectionnés",
    "tag": "section",
    "class": "block-products",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Titre"
      }, {
        "type": "richtext",
        "id": "text",
        "label": "Texte"
      }
    ],
    "max_blocks": 4,
    "blocks": [
      {
        "type": "item",
        "name": "Produit",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Produit"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Produits sélectionnés"
      }
    ]
  }
{% endschema %}