{% liquid 
  assign title = section.settings.title
  assign subtitle = section.settings.subtitle
  assign url = section.settings.url
%}

<div class="container">
  {% render 'block-heading', title: title, subtitle: subtitle %}

</div>

{% schema %}
  {
    "name": "t:sections.embed-video.name",
    "tag": "section",
    "class": "block-embed-video",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.global.title"
      }, {
        "type": "richtext",
        "id": "subtitle",
        "label": "t:sections.global.subtitle"
      }, {
        "type": "text",
        "id": "url",
        "label": "t:sections.global.url"
      }
    ],
    "presets": [
      {
        "name": "t:sections.embed-video.name"
      }
    ]
  }
{% endschema %}