{% liquid 
  assign title = section.settings.title
  assign subtitle = section.settings.subtitle
  assign image = section.settings.image
  assign size = section.settings.size
  case size
    when "medium"
      assign img_width = 900
    when "small"
      assign img_width = 600
    else
      assign img_width = 1200
  endcase
%}

<div class="container">
  {% render 'block-heading', title: title, subtitle: subtitle %}
  <div class="row">
    <div class="{{ size }}">
      {% render 'image', img: image, width: img_width %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.image.name",
    "tag": "section",
    "class": "block-image",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.global.title"
      }, {
        "type": "richtext",
        "id": "text",
        "label": "t:sections.global.text"
      }, {
        "type": "video",
        "id": "video",
        "label": "t:sections.global.video"
      }, {
        "type": "select",
        "id": "size",
        "label": "t:sections.global.size",
        "default": "large",
        "options": [
          {
            "value": "large",
            "label": "t:sections.global.large"
          }, {
            "value": "medium",
            "label": "t:sections.global.medium"
          }, {
            "value": "small",
            "label": "t:sections.global.small"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.image.name"
      }
    ]
  }
{% endschema %}