{% liquid 
  assign title = section.settings.title
  assign text = section.settings.text
  assign image = section.settings.image
%}

<div class="container">
  <div class="row">
    <div class="content">
      {%- if title != blank -%}
        <h2>{{ title }}</h2>
      {%- endif -%}
      {%- if text != blank -%}
        <p>{{ text }}</p>
      {%- endif -%}
    </div>
    <div class="media">
      {{ image }}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Editorial",
    "tag": "section",
    "class": "block-editorial",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Titre"
      }, {
        "type": "richtext",
        "id": "text",
        "label": "Texte"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "Editorial"
      }
    ]
  }
{% endschema %}