{% liquid 
  assign title = section.settings.title
  assign subtitle = section.settings.subtitle
  assign video = section.settings.video
  assign video_title = section.settings.video_title
  if video.type == 'youtube'
    assign video_src = "https://www.youtube.com/embed/" | append: video.id | append: "?enablejsapi=1"
  else
    assign video_src = "https://player.vimeo.com/video/" | append: video.id
  endif
%}

<div class="container">
  {% render 'block-heading', title: title, subtitle: subtitle %}
  <div class="video">
    <iframe src="{{ video_src }}" allow="autoplay; encrypted-media" allowfullscreen title="{{ video_title | escape }}" loading="lazy"></iframe>
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.embed-video.name",
    "tag": "section",
    "class": "block-embed-video",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.global.title"
      }, {
        "type": "richtext",
        "id": "subtitle",
        "label": "t:sections.global.subtitle"
      }, {
        "type": "video_url",
        "id": "video",
        "accept": [
          "youtube", "vimeo"
        ],
        "label": "t:sections.global.url"
      }, {
        "type": "text",
        "id": "video_title",
        "label": "t:sections.global.title"
      }
    ],
    "presets": [
      {
        "name": "t:sections.embed-video.name"
      }
    ]
  }
{% endschema %}