{% liquid 
  assign title = section.settings.title
  assign text = section.settings.text
  assign products = section.settings.product_list
%}

<div class="container">

  {% render 'block-heading', title: title, subtitle: subtitle %}

  {%- if products != blank -%}
    <div class="products">
      {%- for product in products -%}
        {% render 'product-item' with product as product_item %}
      {%- endfor -%}
    </div>
  {%- endif -%}

</div>

{% schema %}
  {
    "name": "Produits sélectionnés",
    "tag": "section",
    "class": "block-products",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Titre"
      }, {
        "type": "richtext",
        "id": "text",
        "label": "Texte"
      }, {
        "type": "product_list",
        "id": "product_list",
        "label": "Produits",
        "limit": 4
      }
    ],
    "presets": [
      {
        "name": "Produits sélectionnés"
      }
    ]
  }
{% endschema %}