{% liquid 
  assign title = section.settings.title
  assign subtitle = section.settings.subtitle
%}

<div class="container">
  {% render 'block-heading', title: title, subtitle: subtitle %}

  {%- if blocks.size > 0 -%}
    <div class="row">
      {%- for block in blocks -%}
        <div class="col"></div>
      {%- endfor -%}
    </div>
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "t:sections.cards.name",
    "tag": "section",
    "class": "block-cards",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "t:sections.global.title"
      }, {
        "type": "richtext",
        "id": "subtite",
        "label": "t:sections.global.subtitle"
      }
    ],
    "max_blocks": 5,
    "blocks": [
      {
        "name": "Item",
        "type": "t:sections.global.item",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "t:sections.global.title"
          }, {
            "type": "richtext",
            "id": "subtite",
            "label": "t:sections.global.subtitle"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.cards.name"
      }
    ]
  }
{% endschema %}