<footer role="contentinfo">
  <div class="container">
    Footer
  </div>
</footer>

{% liquid
  render 'footer-js'
  render 'footer-scripts'
%}

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu principal"
      }, {
        "type": "link_list",
        "id": "menu_legal",
        "label": "Menu légal"
      }, {
        "type": "link_list",
        "id": "menu_social",
        "label": "Menu social"
      }
    ]
  }
{% endschema %}