<footer role="contentinfo">
  <div class="container">
    {%- render 'logo' -%}
    {%- if section.settings.menu != blank -%}
      {% render 'nav', menu: section.settings.menu %}
    {%- endif -%}
    <hr>
    {%- if section.settings.menu_legal != blank -%}
      {% render 'nav', menu: section.settings.menu_legal %}
    {%- endif -%}
    {%- if section.settings.menu_social != blank -%}
      {% render 'nav', menu: section.settings.menu_social %}
    {%- endif -%}
  </div>
</footer>

{% liquid
  render 'footer-js'
  render 'footer-scripts'
%}

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu principal"
      }, {
        "type": "link_list",
        "id": "menu_legal",
        "label": "Menu légal"
      }, {
        "type": "link_list",
        "id": "menu_social",
        "label": "Menu social"
      }
    ]
  }
{% endschema %}