{% liquid
  render 'schema'
  render 'nav-a11y'
%}

<header role="banner">
  <div class="container">
    {%- render 'logo' -%}
    {%- if section.settings.menu != blank -%}
      {% render 'nav', menu: section.settings.menu.links %}
    {%- endif -%}
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu principal"
      }
    ]
  }
{% endschema %}