{%- liquid 
  assign title = section.settings.title
  assign text = section.settings.text
  assign image = section.settings.image
  assign ratio = section.settings.ratio
-%}

{% render 'image' with image as img %}

<div class="container">
  <h1>{{ title }}</h1>
  {% if text != '' %}
    <p>{{ text }}</p>
  {% endif %}
  <code>{{ ratio }}</code>
</div>

{% schema %}
  {
    "name": "Hero",
    "tag": "section",
    "class": "hero",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, {
        "type": "richtext",
        "id": "text",
        "label": "Texte"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }, {
        "type": "range",
        "id": "ratio",
        "min": 1,
        "max": 10,
        "step": 1,
        "unit": "%",
        "label": "Taille du Hero (ratio)",
        "default": 50
      }
    ],
    "presets": [
      {
        "name": "Hero"
      }
    ]
  }
{% endschema %}