{%- liquid
  assign p = product.selected_or_first_available_variant
  assign media = p.featured_media

-%}

<div class="container">
  <div class="row">
    <div class="content">
      <h1>{{ product.title | escape }}</h1>
      {%- render 'price', product: product, use_variant: true, show_badges: true -%}
      {%- if product.description != blank -%}
        <div class="description rte">
          {{ product.description }}
        </div>
      {%- endif -%}
    </div>
    <div class="media"></div>
  </div>
</div>

{% schema %}
  {
    "name": "t:main.product.name",
    "tag": "section"
  }
{% endschema %}