<div class="container">
  <h1>
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
  {
    "name": "Contenu principal",
    "tag": "section"
  }
{% endschema %}